{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Moasic</h1>
    <p class="lead">Media Online Sentiment Analysis Informing Citizens (MOSAIC) is meant to help consumers of news stations sift through biases to make wholistic, well-informed opinions.</p>
    <p><a href="{{url_for('search') }}" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="display:inline">Tools</h2><i class="fa fa-wrench fa-2x" aria-hidden="true"></i>
        <p>Check the main resources we used for our project, IBM's Bluemix AlchemyAPI and Python's Flask.</p>
        <p><a class="btn btn-default" href="https://www.ibm.com/cloud-computing/bluemix/">Bluemix &raquo;</a><a class="btn btn-default" href="flask.pocoo.org/">Flask &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="display:inline">Thank You<img src="/static/images/ddoski_head.png" height="30" width="30" vertical-align="top"/></h2>
        <p>Thanks to UC Berkeley for hosting us and giving us free swag and yummies.</p>
        <p><a class="btn btn-primary" href="http://www.berkeley.edu/">Cal's Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="display:inline">Code</h2>
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        <p>You can see our code in our Github repository, where we hope to improve and build upon our project.</p>
        <p><a class="btn btn-success" href="https://github.com/robbiejones96/Cal-Hacks-2016">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
